table{
    table-layout: fixed;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #cfcfcf;
}

td:hover{
	background-color: #e5e5e5;
}

td[state = '1']{
	background-color : #ffcc00
}

#jumbo{
	padding:5px;
}

#body_block{
	text-align: center;
}